.chats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    min-width: 60vw;
    max-width: 80vw;
}

.chats--empty {
    color: var(--white);
    background-color: var(--red);
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-weight: bold;
}

.chats__chat {
    margin: 0;
    list-style: none;
    padding: .5rem 1rem;
    background-color: var(--lightblue);
    border-top: 2px solid var(--black);
    cursor: pointer;
    color: var(--black);
    transition: all 500ms;
    width: 100%;
    display: flex;
    column-gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.chats__chat:hover {
    color: var(--lightblue);
    background-color: var(--black);
}

.chats__chat__email {
    font-weight: bold;
    font-size: 1.25rem;
}

.chats__chat__last-updated {
    opacity: 0.9;
    font-size: 0.75rem;
    align-self: flex-end;
}

@media screen and (max-width: 1024px) {
    .chats__chat__last-updated {
        display: none;
    }
    .chats__chat__last-message {
        display: none;
    }
}
