/* Styles for login and register forms */

.form {
    align-items: baseline;
    padding: 2rem;
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
}

.form div {
    width: 100%;
}

.form__submit {
    align-self: center;
}
