.header, .header__nav {
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.header {
    width: 100vw;
    padding: 2vh 5vw;
    justify-content: space-between;
    position: sticky;
    background-color: var(--white);
    top: 0;
    z-index: 5;
}

.header__nav {
    justify-content: flex-end;
    align-items: center;
    column-gap: 3vh;
}

.header__text {
    margin: 0;
}

.header__logo {
    max-height: 7rem;
    max-width: 40vw;
}
