.header, .nav {
    flex-direction: row;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5vh;
}

.header {
    width: 100vw;
    padding: 2vh 5vw;
    row-gap: .5rem;
    justify-content: space-between;
}

.nav {
    justify-content: flex-start;
    align-items: center;
}

.header__text {
    margin: 0;
}

.logo {
    max-height: 7rem;
}
