.message-container {
    z-index: 3;
    bottom: 50vh;
    right: 1.5rem;
    position: absolute;
    border-radius: 1.5rem;
    padding: 1.5rem;
    opacity: 0.9;
}

.message {
    font-size: 1.25rem;
}

.message-container--error {
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--white);
}

.message-container--success {
    background-color: var(--lightblue);
    color: var(--black);
    border: 2px solid var(--black);
}
