.message-container {
    z-index: 3;
    bottom: 50vh;
    position: sticky;
    left: 70vw;
    max-width: 50vw;
    width: fit-content;
    border-radius: 1.5rem;
    padding: 1.5rem;
    opacity: 0.7;
    text-align: center;
}

.message {
    font-size: 1.25rem;
}

@media screen and (max-width: 400px) {
    .message {
        font-size: 0.9;
    }
    .message-container {
        padding: .5rem;
    }
}

.message-container--error {
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--white);
}

.message-container--success {
    background-color: var(--lightblue);
    color: var(--black);
    border: 2px solid var(--black);
}
