/* Styles for notifications */

.notification {
    z-index: 6;
    top: 20vh;
    position: fixed;
    right: 2rem;
    max-width: 50vw;
    width: fit-content;
    border-radius: 1rem;
    padding: 1.5rem;
    opacity: 0.9;
    text-align: center;
}

.notification__message {
    font-size: 1.125rem;
}

@media screen and (max-width: 1024px) {
    .notification__message {
        font-size: 0.9;
    }
    .notification {
        padding: .5rem;
    }
}

.notification--error {
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--white);
}

.notification--success {
    background-color: var(--lightblue);
    color: var(--black);
    border: 2px solid var(--black);
}
