/* Styles for the profile page */

.profile__form, #add-profile-picture {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.profile__input {
    width: 50%;
}

#profile-picture {
    display: inline-block;
    width: fit-content;
    max-width: 50vw;
}
