@import url("./form.css");
@import url("./header.css");
@import url("./notification.css");
@import url("./chats.css");
@import url("./chat.css");
@import url("./index.css");
@import url("./profile.css");

:root {
    --white: #EEEEEE;
    --black: #05063B;
    --lightblue: #A5B0FF;
    --blue: #4D51BD;
    --darkblue: #3B2C65;
    --red: #ba0404;
}

body {
    width: 100vw;
    min-height: 100vh;
}

.container {
    padding: 2.5rem;
    align-items: center;
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    box-sizing: border-box;
}

.button {
    color: var(--black);
    background-color: var(--lightblue);
    border-radius: .5rem;
    padding: .5rem 1rem;
    border: none;
    transition: all 500ms;
    font-weight: 500;
}

.button:hover {
    color: var(--lightblue);
    background-color: var(--black);
}

.button:active {
    transform: scale(1.2);
}

.button--alternative {
    color: var(--white);
    background-color: var(--darkblue);
}

.button--alternative:hover {
    color: var(--darkblue);
    background-color: var(--white);
}

.user__profile-picture {
    border-radius: 50%;
}
