:root {
    --white: #EEEEEE;
    --black: #05063B;
    --lightblue: #A5B0FF;
    --blue: #4D51BD;
    --darkblue: #3B2C65;
}

body {
    width: 100vw;
    min-height: 100vh;
}

.container {
    padding: 5rem;
    align-items: center;
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
}

.form {
    align-items: baseline;
    padding: 2rem;
    row-gap: 2rem;
    display: flex;
    flex-direction: column;
}

.form__submit {
    align-self: center;
}

.header, .nav {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5vh;
}

.header {
    padding: 2rem 5rem;
}

.logo {
    max-height: 7rem;
}

.message-container {
    z-index: 3;
    top: 1.5rem;
    right: 1.5rem;
    position: absolute;
    border-radius: 1.5rem;
    padding: 1.5rem;
    opacity: 0.9;
}
.message {
    font-size: 1.25rem;
}
.message-container--error {
    background-color: #05063B;
    color: #A5B0FF;
}
.message-container--success {
    background-color: #A5B0FF;
    color: #05063B; 
}
