:root {
    --white: #EEEEEE;
    --black: #05063B;
    --lightblue: #A5B0FF;
    --blue: #4D51BD;
    --darkblue: #3B2C65;
}

body {
    width: 100vw;
    min-height: 100vh;
}

.form, .container {
    display: flex;
    flex-direction: column;
}

.container {
    padding: 5rem;
    align-items: center;
    row-gap: 2rem;
}

.form {
    align-items: baseline;
    padding: 2rem;
    row-gap: 2rem;
}

.form__submit {
    align-self: center;
}

.header, .nav {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 5vh;
}

.header {
    padding: 2rem 5rem;
}

.logo {
    max-height: 7rem;
}